.page-nav {
  position: fixed;
  top: 0;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  height: 5rem;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-size: 1.2rem;
  background: $nav-color;
  margin: 0;
  h1 {
    font-size: 2rem;
  }
  ul {
    margin: 0;
    display: flex;
    position: fixed;
    top: -1000rem;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background: $nav-color;
    hr {
      width: 90%;
    }
    li {
      width: 12rem;
      text-align: center;
      list-style: none;
      padding: .5rem;
    }
    &.open {
      top: 5rem;
      right: 0;
    }
    .nav-break {
      display: none;
      color: white;
      text-shadow: 1px 1px 1px black;
      padding: .5rem;
      font-size: 1.3rem;
    }
  }
  a {
    text-decoration: none;
    padding: .5rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
  }
}

.photos {
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .photo {
      max-height: 20rem;
    }
  }
}

.project-image {
  width: 15rem;
  height: auto;
}



.signature {
  font-size: 1.5rem;
}

.projects, .videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: 100%;
  box-shadow: 0 1px 1px #333;
  padding: 1.17rem;
  text-align: center;
  background: #fff;
  margin-bottom: 1rem;
  h3 {
    margin-top: 0;
  }
  p {
    text-shadow: none;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media screen and (min-width: 500px) {
  .page-nav {
    top: 2rem;
    ul {
      background: none;
      position: static;
      flex-direction: row;
      .nav-break {
        display: inline;
      }
      hr {
        display: none;
      }
      li {
        width: inherit;
      }
    }
  }

  .project {
    width: 20rem;
    height: 20rem;
  }

}