.page-nav {
  position: fixed;
  top: 0;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  height: 5rem;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-size: 1.2rem;
  background: $nav-color;
  margin: 0;
  .logo {
    font-size: 2rem;
  }
  ul {
    margin: 0;
    display: flex;
    position: fixed;
    top: -1000rem;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background: $nav-color;
    hr {
      width: 90%;
    }
    li {
      width: 10rem;
      text-align: center;
      list-style: none;
    }
    &.open {
      top: 5rem;
      right: 0;
    }
    .nav-break {
      display: none;
      color: white;
      text-shadow: 1px 1px 1px black;
      padding: .5rem;
      font-size: 1.3rem;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    padding: .5rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media screen and (min-width: 950px) {
  .page-nav {
    top: 2rem;
    .logo {
      font-size: 2rem;
    }
    ul {
      background: none;
      position: static;
      flex-direction: row;
      .nav-break {
        display: inline;
      }
      hr {
        display: none;
      }
      li {
        width: inherit;
      }
    }
  }
}