header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  box-shadow: 0 1px 1px #333;
  background: #bd72ff;
  .logo {
    font-size: 1rem;
  }
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    padding: .5rem 1rem;
    color: #fff;
    text-shadow: 0 1px 1px #333;
  }
}

.page-nav {
  position: fixed;
  top: 2rem;
  height: 5rem;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-size: 1.5rem;
  background: hsla(123, 100%, 38%, .3);
  ul {
    display: flex;
    padding: 0;
    li {
      list-style: none;
    }
  }
  a {
      text-decoration: none;
      padding: .5rem;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      cursor: pointer;
    }
}

// main {
//   margin-top: 2rem;
// }

.image {
  width: 100vw;
  height: 100vh;
  padding-top: 40vh;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 1px #333;
  &.about {
    background: linear-gradient(to right, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1)),
    url('../img/AW_135.jpg') no-repeat fixed;
    background-size: cover;
  }
  &.performer {
    background: linear-gradient(to right, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1)),
    url('../img/widow.jpg') no-repeat fixed, #000;
    background-size: cover;
  }
  &.developer {
    background: linear-gradient(to right, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1)),
    url('../img/developer.jpeg') no-repeat fixed; //image by William Ivan
    background-size: cover;
  }
  &.contact {
    background: linear-gradient(to right, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1)),
    url('../img/unsplash-bonus.jpg') bottom no-repeat fixed; //image supplied by Luke Chesser
    background-size: cover;
  }
  &.blog {
    background: linear-gradient(to right, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1)),
    url('../img/blog.jpg') center no-repeat fixed; //image supplied by Luke Chesser
    background-size: cover;
  }
  h2 {
    margin: 0;
    color: #fff;
  }
}

.project-image {
  width: 15rem;
  height: auto;
}

.section {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  overflow: hidden;
  p {
    margin: 0;
  }
}

h1 {
  font-size: 3rem;

}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}