*, *:before, *:after {
  box-sizing: border-box; }

body {
  line-height: 1.5;
  font-family: 'Lora', serif; }

.hamburger {
  position: absolute;
  left: 20rem;
  top: 1rem;
  cursor: pointer;
  padding: 0.5rem 2rem 0.75rem 0px; }

.hamburger span,
.hamburger span::before,
.hamburger span::after {
  cursor: pointer;
  height: .25rem;
  width: 2rem;
  background: white;
  position: absolute;
  display: block;
  content: '';
  box-shadow: 0 1px 1px #000; }

.hamburger span::before {
  top: -.5rem; }

.hamburger span::after {
  bottom: -.5rem;
  transform-origin: 50% 50%; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  box-shadow: 0 1px 1px #333;
  background: #bd72ff; }
  header .logo {
    font-size: 1rem; }
  header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0; }
  header a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #fff;
    text-shadow: 0 1px 1px #333; }

.page-nav {
  position: fixed;
  top: 2rem;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  height: 5rem;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-size: 1.3rem;
  background: rgba(0, 194, 10, 0.3); }
  .page-nav ul {
    display: flex;
    padding: 0; }
    .page-nav ul li {
      list-style: none; }
  .page-nav a {
    text-decoration: none;
    padding: .5rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer; }

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  text-shadow: 0 1px 1px #333; }
  .image.about {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(131, 131, 175, 0.7)), url("../img/AW_135.jpg") no-repeat fixed;
    background-size: cover; }
  .image.performer {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(131, 131, 175, 0.7)), url("../img/widow.jpg") no-repeat fixed, #000;
    background-size: cover; }
  .image.developer {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(131, 131, 175, 0.7)), url("../img/developer.jpeg") no-repeat fixed;
    background-size: cover; }
  .image.contact {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(131, 131, 175, 0.7)), url("../img/unsplash-bonus.jpg") bottom no-repeat fixed;
    background-size: cover; }
  .image.blog {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(131, 131, 175, 0.7)), url("../img/blog.jpg") center no-repeat fixed;
    background-size: cover; }
  .image.projects {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(131, 131, 175, 0.7)), url("../img/tvchat.png") center no-repeat fixed;
    background-size: cover; }
  .image.rates {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(131, 131, 175, 0.7)), url("../img/mac-glasses.JPG") center no-repeat fixed;
    background-size: cover; }
  .image h2 {
    margin: 0;
    color: #fff;
    font-size: 6rem; }
  .image h1 {
    font-size: 8rem; }

.nav-break {
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: .5rem;
  font-size: 1.3rem; }

.project-image {
  width: 15rem;
  height: auto; }

.section {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(131, 131, 175, 0.7));
  height: 100vh;
  width: 100vw;
  padding: 9rem 5rem;
  overflow: hidden; }
  .section .text {
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    padding: 3rem; }
  .section h1 {
    margin: 0; }
  .section p {
    color: #333;
    text-shadow: 0 1px 1px #ccc;
    margin: 0;
    margin-bottom: 1rem; }
  .section .contact {
    text-align: center; }

.btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #1eb300;
  box-shadow: 1px 1px 1px #333;
  color: #fff;
  text-shadow: 0 1px 1px #333; }
  .btn:hover {
    background: #027a00; }
  .btn:active {
    background: #027a00;
    box-shadow: none; }

h1, h2, .signature {
  font-family: 'Dancing Script', cursive; }

.signature {
  font-size: 1.5rem; }

.project {
  width: 30vw;
  box-shadow: 0 1px 1px #333;
  padding: 1rem;
  text-align: center;
  background: #fff; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }
