*, *::before, *::after {
  box-sizing: border-box; }

body {
  line-height: 1.5;
  font-family: 'Lora', serif; }
  body a {
    color: #1eb300; }

h1, h2, .signature {
  font-family: 'Dancing Script', cursive; }

.page-nav {
  position: fixed;
  top: 0;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  height: 5rem;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-size: 1.2rem;
  background: rgba(0, 194, 10, 0.3);
  margin: 0; }
  .page-nav .logo {
    font-size: 2rem; }
  .page-nav ul {
    margin: 0;
    display: flex;
    position: fixed;
    top: -1000rem;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background: rgba(0, 194, 10, 0.3); }
    .page-nav ul hr {
      width: 90%; }
    .page-nav ul li {
      width: 10rem;
      padding: .5rem;
      text-align: center;
      list-style: none; }
    .page-nav ul.open {
      top: 5rem;
      right: 0; }
    .page-nav ul .nav-break {
      display: none;
      color: white;
      text-shadow: 1px 1px 1px black;
      padding: .5rem;
      font-size: 1.3rem; }
  .page-nav a {
    display: inline-block;
    text-decoration: none;
    padding: .5rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer; }

.photos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .photos ul .photo {
    max-height: 20rem; }

.project-image {
  width: 15rem;
  height: auto; }

.signature {
  font-size: 1.5rem; }

.projects, .videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.project {
  width: 100%;
  box-shadow: 0 1px 1px #333;
  padding: 1.17rem;
  text-align: center;
  background: #fff;
  margin-bottom: 1rem; }
  .project h3 {
    margin-top: 0; }
  .project p {
    text-shadow: none; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

@media screen and (min-width: 950px) {
  .page-nav {
    top: 2rem; }
    .page-nav .logo {
      font-size: 2rem; }
    .page-nav ul {
      background: none;
      position: static;
      flex-direction: row; }
      .page-nav ul .nav-break {
        display: inline; }
      .page-nav ul hr {
        display: none; }
      .page-nav ul li {
        width: inherit; }
  .project {
    width: 20rem;
    height: 20rem; } }

.hamburger {
  cursor: pointer;
  padding: 0.5rem 2rem 0.75rem 0px; }

.hamburger span,
.hamburger span::before,
.hamburger span::after {
  cursor: pointer;
  height: .25rem;
  width: 2rem;
  background: white;
  position: absolute;
  display: block;
  content: '';
  box-shadow: 2px 2px 2px #000; }

.hamburger span::before {
  top: -.5rem; }

.hamburger span::after {
  bottom: -.5rem;
  transform-origin: 50% 50%; }

@media screen and (min-width: 950px) {
  .hamburger {
    display: none; } }

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  text-shadow: 2px 2px 1px #000;
  background-position: center; }
  .image.about {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/AW_135-compressed.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center; }
  .image.performer {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/widow.jpg") no-repeat fixed, #000;
    background-size: cover;
    background-position: center right; }
  .image.upcoming-img {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/contact.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center; }
  .image.developer {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/developer-compressed.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center; }
  .image.contact {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/unsplash-bonus-compressed.jpg") bottom no-repeat fixed;
    background-size: cover; }
  .image.blog {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/Optimized-blog.jpg") center no-repeat fixed;
    background-size: cover; }
  .image.project-img {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/tvchat.png") center no-repeat fixed;
    background-size: cover; }
  .image.rates {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/mac-glasses-compressed.jpg") center no-repeat fixed;
    background-size: cover; }
  .image.photos {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/photo-compressed.jpg") center no-repeat fixed;
    background-size: cover; }
  .image.video-img {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/video-compressed.jpg") center no-repeat fixed;
    background-size: cover; }
  .image h2 {
    margin: 0;
    color: #fff;
    font-size: 3rem; }
  .image h1 {
    font-size: 3.4rem; }

@media screen and (min-width: 500px) {
  .image h1 {
    font-size: 5rem; }
  .image h2 {
    font-size: 3rem; }
  .image.performer, .image.about {
    background-position: initial; } }

@media screen and (min-width: 700px) {
  .image h1 {
    font-size: 7rem; }
  .image h2 {
    font-size: 5rem; } }

.btn {
  display: inline-block;
  margin: .5rem 0;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #1eb300;
  box-shadow: 1px 1px 1px #333;
  color: #fff;
  text-shadow: 0 1px 1px #333; }
  .btn:hover {
    background: #027a00; }
  .btn:active {
    background: #027a00;
    box-shadow: none; }

.section {
  background: #eee;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 6rem 0 1rem; }
  .section ul {
    padding: 0;
    margin: 0; }
  .section li {
    list-style: none; }
  .section .text {
    width: inherit;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 2px 4px #333;
    padding: 1rem; }
    .section .text h2 {
      color: #006600;
      text-shadow: 2px 2px 1px #ccc; }
  .section .post h2, .section .post p, .section .blog h2, .section .blog p, .section .photos h2, .section .photos p, .section .videos h2, .section .videos p {
    text-shadow: none; }
  .section .post .meta, .section .blog .meta, .section .photos .meta, .section .videos .meta {
    font-size: .8rem;
    color: #777; }
  .section .photo {
    max-width: 20rem;
    margin: .5rem 0; }
  .section .video {
    margin: .5rem 0;
    width: 15rem; }
  .section h1 {
    margin: 0; }
  .section p {
    color: #333;
    margin: .5rem 0; }
  .section .contact {
    text-align: center; }

@media screen and (min-width: 500px) {
  .section {
    padding: 9rem 4rem; }
    .section .text {
      padding: 3rem; }
      .section .text h2 {
        margin: 0; }
    .section .photos {
      padding: 1rem; }
      .section .photos h2 {
        margin-bottom: 1rem; } }
