html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  box-shadow: 0 1px 1px #333;
  background: #bd72ff; }
  header .logo {
    font-size: 1rem; }
  header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0; }
  header a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #fff;
    text-shadow: 0 1px 1px #333; }

.page-nav {
  position: fixed;
  top: 2rem;
  height: 5rem;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-size: 1.5rem;
  background: rgba(0, 194, 10, 0.3); }
  .page-nav ul {
    display: flex;
    padding: 0; }
    .page-nav ul li {
      list-style: none; }
  .page-nav a {
    text-decoration: none;
    padding: .5rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer; }

.image {
  width: 100vw;
  height: 100vh;
  padding-top: 40vh;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 1px #333; }
  .image.about {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white), url("../img/AW_135.jpg") no-repeat fixed;
    background-size: cover; }
  .image.performer {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white), url("../img/widow.jpg") no-repeat fixed, #000;
    background-size: cover; }
  .image.developer {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white), url("../img/developer.jpeg") no-repeat fixed;
    background-size: cover; }
  .image.contact {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white), url("../img/unsplash-bonus.jpg") bottom no-repeat fixed;
    background-size: cover; }
  .image.blog {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white), url("../img/blog.jpg") center no-repeat fixed;
    background-size: cover; }
  .image h2 {
    margin: 0;
    color: #fff; }

.project-image {
  width: 15rem;
  height: auto; }

.section {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  overflow: hidden; }
  .section p {
    margin: 0; }

h1 {
  font-size: 3rem; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }
