<div class="page-nav">
  <h1><a ng-click="changePage('/')">Arthur Wright</a></h1>
  <div class="hamburger">
    <span></span>
  </div>
  <ul class="nav">
    <li ng-repeat='link in navLinks'><a ng-click="gotoAnchor(link[1])">{{link[0]}}</a></li>
    </li>
    <li ng-show="navLinks" class="nav-break"><span>|</span></li>
    <hr ng-show="navLinks">
    <li><a ng-click="changePage('performer')">Performer</a></li>
    <li><a ng-click="changePage('developer')">Developer</a></li>
    <li><a ng-click="changePage('blog')">Blog</a></li>
  </ul>
</div>